body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fffafa;
  font-size: 16px;
}

body.dark {
  background: #000000;
}

section {
  width: 99.8%;
  height: 100%;
  background-repeat: no-repeat;
  text-align: inherit;
  
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 37.5em;
  padding: 0.625em;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0.625em;
  -webkit-box-shadow: 0 0.9375em 3.125em rgba(195, 0, 255, 0.2);
  box-shadow: 0 0.9375em 3.125em rgba(195, 0, 255, 0.2);
}

.circle {
  width: 9.375em;
  height: 12.5em;
  background: url(../IMAGES/isqq.jpg);
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin: 3.75em 1.875em 1.875em 0;
}

p {
  margin: 0;
  padding: 0;
  text-align: justify;
  line-height: 1.375em;
  font-family: sans-serif;
  
}

h1 {
  margin: 0 0 1.25em;
  padding: 0;
  font-family: "Baloo Bhai 2", cursive;
  font-weight: 700;
  font-size: 2.8625rem;
}

::-webkit-scrollbar {
  width: 0;
}

#scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 0.625em;
  height: 100%;
  background: rgba(195, 0, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 0.625em;
  background: -webkit-gradient(linear, left bottom, left top, from(#fda7df), to(#0652dd));
  background: linear-gradient(to top, #fda7df, #0652dd);
  -webkit-animation: animate 5s linear infinite;
  animation: animate 5s linear infinite;
}

@-webkit-keyframes animate {
  0%,
  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes animate {
  0%,
  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

#progressbar ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#fda7df), to(#0652dd));
  background: linear-gradient(to top, #fda7df, #0652dd);
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

#progressbar ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#fda7df), to(#0652dd));
  background: linear-gradient(to top, #fda7df, #0652dd);
  -webkit-filter: blur(30px);
  filter: blur(30px);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3.75em;
  background-color: #ffffff;
  -webkit-box-shadow: 0.125em 0.125em 0.75em rgba(195, 0, 255, 0.2);
  box-shadow: 0.125em 0.125em 0.75em rgba(195, 0, 255, 0.2);
  padding: 0em 1%;
}

body.dark nav {
  background: #1d2020;
  -webkit-box-shadow: lightgray;
  box-shadow: lightgray;
}

body.dark nav a {
  color: whitesmoke;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li a {
  margin: 1.875em;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 1.0625rem;
  color: #505050;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.3125em;
}

.switch {
  background: #343d5b;
  border-radius: 62.5em;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 1.875em;
  height: 1.875em;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: 0em 0em 0.125em 0.125em rgba(0, 0, 0, 0.2);
  box-shadow: 0rem 0rem 0.125em 0.125em rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: #fc427b;
  color: black;
}

.switch.active::after {
  right: 0;
  left: unset;
}

span {
  width: 1.875em;
  height: 1.875em;
  line-height: 1.875em;
  display: block;
  background: none;
  color: #ffffff;
}

.activ {
  font-weight: bold;
  color: black;
}

body.dark .activ {
  color: #fc427b;
}

a.activ,
a:hover {
  background: #e7e7e7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #101010;
}

.contenedor {
  position: relative;
  width: 56.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenedor .card {
  position: relative;
  width: 15.625em;
  background: -webkit-gradient(linear, left bottom, left top, from(#1b1b1b), color-stop(#222), to(#1b1b1b));
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18.75em;
  border-radius: 0.25em;
  text-align: center;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contenedor .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 0.9375em 2.1875em rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.9375em 2.1875em rgba(0, 0, 0, 0.5);
}

.tit h1 {
  color: whitesmoke;
  position: relative;
  text-align: center;
  top: 0.625em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 75vh;
  font-family: "Baloo Bhai 2", cursive;
  font-weight: 700;
  font-size: 3.0625rem;
}

.contenedor .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.03);
  pointer-events: none;
  z-index: 1;
}

.percent {
  position: relative;
  width: 9.375em;
  height: 9.375em;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 3.125em #000000;
          box-shadow: inset 0 0 3.125em #000000;
  background: #222;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #777777;
  font-weight: 700;
  font-size: 2.5em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .percent .number h2 {
  color: #ffffff;
  font-size: 3.75em;
}

.percent .number h2 spam {
  font-size: 1.5rem;
  color: #7777;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .percent .number h2 spam {
  color: #fff;
  font-size: 2.5rem;
}

.textt {
  position: relative;
  color: #777777;
  margin-top: 1.25em;
  font-weight: 700;
  font-family: "MuseoModerno", cursive;
  font-weight: bold;
  font-size: 1.125rem;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .textt {
  color: #fff;
}

svg {
  position: relative;
  width: 9.375em;
  height: 9.375em;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  -webkit-transform: translate(0.3125em, 0.3125em);
          transform: translate(0.3125em, 0.3125em);
}

svg circle:nth-child(2) {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(600 - (600 * 90) / 100);
  stroke: #00ff43;
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: #00a1ff;
}

.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc 88;
  stroke: #ff04f7;
}

@media screen and (max-width: 1000px) {
  .article {
    width: 50%;
  }
  .container {
    width: 25em;
    font-size: 0.875em;
  }
  h1 {
    font-size: 2.0625rem;
  }
  .contenedor {
    width: 500px;
  }
  .tit h1 {
    font-size: 2.0625rem;
  }
}

@media screen and (max-width: 700px) {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 430px) {
  article {
    display: none;
  }
  .tit {
    display: none;
  }
  .contenedor {
    display: none;
  }
  nav ul li a {
    font-size: 8px;
  }
  .switch {
    display: none;
  }
  .yo {
    width: 30px;
    height: 30px;
  }
  .circle {
    display: none;
  }
}
/*# sourceMappingURL=about.css.map */