@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f3f3f3;
    font-family: "Open Sans", sans-serif;
    &.dark {
        background: #000000;
    }
}

.container {
    width: 99.9%;
    margin: auto;
}

header {
    padding: 40px 0;
}

header .logo {
    font-family: "Baloo Bhai 2", cursive;
    font-size: 1.625em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    body.dark & {
        color: whitesmoke;
    }
}

header form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

header .busquedada {
    width: 60%;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
}

header .categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header .categorias a {
    font-family: "Baloo Bhai 2", cursive;
    color: #9b9b9b;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}

header .categorias a.activo {
    color: #000000;
    body.dark & {
        color: whitesmoke;
    }
}

.grid {
    position: relative;
    width: 99.8%;
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
    opacity: 1;
}

.grid .item {
    position: absolute;
    display: block;
    padding: 40px;
    margin: 10px;
    width: calc(33.333333% - 20px);
}

.grid .item-contenido {
    position: relative;
}

.grid .item img {
    width: 100%;
    cursor: pointer;
    vertical-align: top;
}

// barra de scroll colorida
::-webkit-scrollbar {
    width: 0;
}

#scrollpath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(195, 0, 255, 0.05);
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #fda7df, #0652dd);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,
    100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

#progressbar ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #fda7df, #0652dd);
    filter: blur(10px);
}

#progressbar ::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #fda7df, #0652dd);
    filter: blur(30px);
}

//menu de navegacion
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(195, 0, 255, 0.2);
    padding: 0px 1%;
    body.dark & {
        background: rgb(29, 32, 32);
        box-shadow: lightgray;
        a {
            color: whitesmoke;
        }
    }
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
    font-size: 17px;
    border-radius: 5px;
    text-transform: uppercase;
}

//modo oscuro
.switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #f1f1f1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: 0.3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
    &.active {
        background: #fc427b;
        color: black;
        &::after {
            right: 0;
            left: unset;
        }
    }
    span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #ffffff;
    }
}

.activ {
    font-weight: bold;
    color: black;
    body.dark & {
        color: #fc427b;
    }
}

a.activ,
a:hover {
    background: #e7e7e7;
    transition: 0.5s;
}

//galeria de fotos
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay.activo {
    display: flex;
}

.overlay img {
    max-width: 100%;
}

.overlay .descripcion {
    display: block;
    background: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
    max-width: 50%;
}

.contenedor-img {
    position: relative;
}

.overlay #btn-cerrar {
    background: none;
    font-size: 20px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -20px;
}

//responsive
@media screen and (max-width: 700px) {
    .grid .item {
        width: calc(50% - 20px);
    }
    header .busquedada {
        width: 100%;
    }
}

@media screen and (max-width: 570px) {
    .grid .item {
        width: calc(100% - 20px);
    }
    header .busquedada {
        width: 100%;
    }
    .switch {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    .contenedor {
        width: 40%;
    }
    nav ul li a {
        font-size: 6px;
    }
    .switch {
        display: none;
    }
    .yo {
        width: 30px;
        height: 30px;
    }
    .grid .item {
        width: calc(100% - 20px);
    }
    header .busquedada {
        width: 100%;
    }
}